<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   
    <link href="http://www.archysoft.com.mx/ecosheys2017/web/email_templates/styles.css" media="all" rel="stylesheet" type="text/css">
</head>

<body>

<table class="body-wrap" style="background-color: #f6f6f6; width: 100%;">
    <tr>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0" style="white-space: normal; line-height: normal; font-weight: normal;font-size: medium;font-style: normal;color: -internal-quirk-inherit; text-align: start;font-variant: normal normal;">
                    <tr>
					 <td class="alert alert-good">
						 <img src="https://ecosheys.com.mx/assets/EcoSheys-RINO-DIBUJO.png" height="48px" align="left"> 
						 <p align="center" style="font-size:18px;padding-top:10px;"> Servicios Ecosheys S.A. de C.V </p>
						 <p align="left">
						 
						   
						<b> 
						 
							<hr align="right" style="color: #0056b2;margin-top:20px;" size="2.5" width="95%" >
						   <p align="center" style="font-size:12px;margin-bottom:5px;padding-top:5px;"> Salud, Higiene, Ecologia y Seguridad Industrial</p>
						   </b>
						   </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-wrap">
                            <table width="100%" cellpadding="0" cellspacing="0" style=" display: table;border-collapse: separate;border-spacing: 2px; border-color: grey;">
                                <tr>
                                    <td class="content-block"   align="center">
                                        <strong> Reporte de Inspeccion de Lamparas</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block"   align="center">
                                    <sub>Servicios Urbanos de Fumigacion, Desinfeccion y Control de Plagas</sub>
                                    </td>
                                </tr>
                               
                                
                            </table>
                        </td>
                    </tr>
                </table>
               
        </td>
        
    </tr>
</table>

</body>
</html>
